<ul class="nav sidebar-menu">
    <!--Map-->
    <li class="active">
        <a href="/">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> Map </span>
        </a>
    </li> 
    <li>
        <a href="/Account">
            <i class="menu-icon glyphicon glyphicon-user"></i>
            <span class="menu-text"> Danh sách tài khoản </span>
        </a>
    </li> 
    <li>
        <a href="/Localtion">
            <i class="menu-icon glyphicon glyphicon-map-marker"></i>
            <span class="menu-text"> Danh sách địa điểm </span>
        </a>
    </li>    
    <!--Sản phẩm-->
    <li style="display:none">
        <a href="#" class="menu-dropdown">
            <i class="menu-icon glyphicon glyphicon-tasks"></i>
            <span class="menu-text"> Sản phẩm </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="/Product/Created">
                    <span class="menu-text">Thêm mới</span>
                </a>
            </li>
            <li>
                <a href="/Product/List">
                    <span class="menu-text">Quản lý sản phẩm</span>
                </a>
            </li>
            <li>
                <a href="/Category">                    
                    <span class="menu-text"> Quản lý danh mục </span>
                </a>
            </li>
        </ul>
    </li>
</ul>
