.navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area{min-width:142px;}
.page-body{padding: 18px 20px 0 20px!important;}
.page-body .row{margin-top:-13px;clear: both;}
.widget{ margin-bottom: 0!important;}
.navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area .avatar{
    border-left: 0px solid #ed4e2a!important;
    margin-right: 10px!important;
}
.navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area .avatar img{
    border-radius: 100%;
}
.navbar .navbar-inner .navbar-header .navbar-account .setting-container{
    width:auto!important;
}
.navbar .navbar-inner .navbar-header .navbar-account .setting-container a{    
    font-weight:700;
    text-decoration:none;
    color:#fff!important;
}
.navbar .navbar-inner .navbar-header .navbar-account .setting-container a:hover{
    color:#08c!important;
}
.navbar .navbar-inner .navbar-header .navbar-account.setting-open .setting{
    right:210px!important;
}
.fieldset {
    border: 1px solid #ddd !important;
    padding: 0 10px 15px 10px!important;
    margin: 0 0 15px 0 !important;
    -webkit-box-shadow:  0 0 0 0 #000;
    box-shadow:  0 0 0 0 #000;
}
.legend {
     width:inherit;
    padding:0 5px;
    border-bottom:none;
    font-size: 13px;    
}

/*css base*/
.r {
    float: right;
}

.l {
    float: left;
}

.btn-blue {
    background-color: RGB(0,76,146) !important;
    border-color: RGB(0,76,146) !important;
}

.btn-danger {
    background-color: RGB(228,24,25) !important;
    border-color: RGB(228,24,25) !important;
}

.dv-loading {
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.5;
}

    .dv-loading .process {
        z-index: 2000;
        position: fixed;
        height: 10px;
        width: 10px;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

.mn-active {
    background: #03b3b2 !important;
    color: #fff !important;
}


.error{
    color: RGB(228, 24, 25) !important ;
}
.mail-header{
    height:auto !important;
}
.changepass-text{
    font-size: 13px;
    color: #858585;
}
.widget-footer{
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    color: #555;
    padding: 12px;
    text-align: right;
    margin-top: 1px;
}
.wd-footer-button{
    height:50px;width:100%;padding:5px;
}
.noty-header{
    font-weight:700;
    margin-bottom:8px;
}
table #listAllAccount tr{ cursor: pointer;}
.avatar-area .avatar {
    height: auto !important;
}
.viewimg {
    width: 84px;
    height: 84px;
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
    vertical-align: middle;
}
.task-container {
    height: 100%;
}
.task-container .DTTTFooter2 {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#btnAddLocaltionByUser{position: absolute;
    top: 3px;
    right: 3px;
    z-index: 1;}
#maps {
    height: 100%;
    min-height: 600px;
}
#panorama {
    height: 100%;
    min-height: 600px;
}
.mapimage{
    width:64px;
    height:auto;
    float:left;
    margin-right:10px;
}
.maptitle{
    width:100%;
    padding-left:75px;
    display:block;   
    font-weight:700; 
    color:#333;
    font-size:14px; 
    margin-bottom: 0;
    line-height: 16px;
}
.maplaglng{
    width:100%;
    padding-left:75px;
    display:block;   
    color:#888;
    font-size:10px;
    margin-bottom: 0; 
    line-height: 16px;
}
.mapphone{
    width:100%;
    padding-left:75px;
    display:block;   
    color:#888;
    font-size:11px;
    margin-bottom: 0; 
    line-height: 16px;
}
.checkeddate{
    width:100%;
    padding-left:75px;
    display:block;   
    color:#888;
    font-size:11px;
    margin-bottom: 0; 
    line-height: 16px;
}
.checkeddate span.unchecked{
    font-weight:700;
    color:#f00;
}
.checkeddate span.checked{
    font-weight:700;
    color:#53a93f;
}
.mapaddress{
    width:100%;
    /*padding-left:75px;*/
    display:inline-block;   
    color:#888;
    font-size:12px;
    margin-bottom: 0; 
    line-height: 16px;
}
#listAllLocaltion td img{max-height: 32px;}