@{
    ViewBag.Title = "Đăng nhập hệ thống";
    ViewBag.Description = "Đăng nhập hệ thống";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<div class="login-container animated fadeInDown">
    <div class="loginbox bg-white">
        <div class="loginbox-title">Đăng nhập hệ thống</div>
        @*<div class="loginbox-social">
            <div class="social-title ">Đăng nhập bằng tài khoản mạng xã hội</div>
            <div class="social-buttons">
                <a href="" class="button-facebook">
                    <i class="social-icon fa fa-facebook"></i>
                </a>
                <a href="" class="button-twitter">
                    <i class="social-icon fa fa-twitter"></i>
                </a>
                <a href="" class="button-google">
                    <i class="social-icon fa fa-google-plus"></i>
                </a>
            </div>
        </div>
        <div class="loginbox-or">
            <div class="or-line"></div>
            <div class="or">Hoặc</div>
        </div>*@
        <div class="loginbox-or">
            <div class="or-line"></div>    
        </div>
        <div class="loginbox-textbox">
            <input type="text" id="UserName" name="UserName" class="form-control" placeholder="Tên đăng nhập" />
        </div>
        <div class="loginbox-textbox">
            <input type="password" id="Password" name="Password" class="form-control" placeholder="Mật khẩu" />
        </div>
        <div class="loginbox-forgot">
            <a href="">Lấy lại mật khẩu?</a>
        </div>
        <div class="loginbox-submit">
            <input type="button" id="btnLogin" class="btn btn-primary btn-block" value="Đăng nhập">
        </div>
        @*<div class="loginbox-signup">
            <a href="register.html">Đăng ký tài khoản mới với Email</a>
        </div>*@
    </div>
    @*<div class="logobox">        
        <img src="/assets/img/logo.png" alt="" width="180" />            
    </div>*@
</div>
@section PageScripts {
    @Scripts.Render("~/bundles/jqueryval")
}