
@{
    ViewBag.Title = "MD5";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<h2>MD5</h2>
<input type="text" class="form-control" placeholder="key" id="txtKeyMd5" />
<input type="button" class="btn btn-default" value="Encrypt" id="btnEncryptMd5" />
<input type="button" class="btn btn-default" value="Decrypt" id="btnDecryptMd5" />
<p id="viewMd5"></p>

