<style>
    #maps {
        height: 100%;
        min-height: 450px;
      }
    #panorama {
        height: 100%;
        min-height: 450px;
      }
</style>

<div class="row">
    <div class="col-lg-4 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-themeprimary">
                <i class="widget-icon fa fa-tasks themeprimary"></i>
                <span class="widget-caption themeprimary">Chọn tài khoản</span>
            </div>
            <div class="widget-body no-padding">
                <div class="task-container">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                Stt
                            </th>
                            <th id="nameid">
                                Name
                            </th>
                        </tr>
                        </thead>
                        <tbody id="GetAllUser">                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-themesecondary">
                <i class="widget-icon fa fa-tasks themesecondary"></i>
                <span class="widget-caption themesecondary">Map xem địa điểm</span>
            </div>
            <div class="widget-body no-padding">
                <div class="task-container">
                    <div id="maps"></div>
                    @*<div id="panorama"></div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmq0TgF9KyKcZSOS0ErMSA7nBlNI8nweI&callback=initMap" async defer></script>
