<appSettings>
  <!--<add key="MSSQLConnection" value="Data Source=DESKTOP-RIP62I3\SQLEXPRESS;Initial Catalog=PlaceMap;Persist Security Info=True;User ID=sa;Password=123;Max Pool Size=1000;Connect Timeout=72000;Pooling=true;"/>-->
  <!--<add key="MSSQLConnection" value="fG/yisgwocjmYyPuictfN1rnAA1VD24CFHfFw3A8+X4GiItOlQL2bxdgoq8UahPORJ2SDkY1TtIqgA0mtAhJwJ6eEu13TbqLRAo3S+F8V/OQfQzUNeBVyZrn5Z9U7Kl23JHjlir1GGMnX3YZGsmTZD8I1c1CdM04kxY+Ln9nwPUnWAgqTNl44gOnb1BW/yVDi3X5z5/kLZ0oncSdMJyW264eaCE9ynypBMEmwxie9Hc="/>-->
  
  <!--<add key="MSSQLConnection" value="Data Source=DESKTOP-K3RU0DD;Initial Catalog=PlaceMap;Persist Security Info=True;User ID=sa;Password=123;Max Pool Size=1000;Connect Timeout=72000;Pooling=true;"/>-->  
  <add key="MSSQLConnection" value="fG/yisgwocjmYyPuictfN8Wduzjqbrh9BJh1Ad4rZ5BUwEPt8lYdKAsMeRS+W5i4Fbznms6GTiN2hBDQYTI05bmyprXrCV77rjw9hrCRuA62riPlDpqrwzYq0HutRBen8Nq07Fl1oGFZhyWozHEYGhGl+yDSlCLFIu+zjqFigbnlJcR3zHCiA65l3EqYqO4CjM8fIhpUWPO35UFD97HaPg=="/>
  
  
  <!--<add key="MSSQLConnection" value="Data Source=103.47.192.100;Initial Catalog=PlaceMap;Persist Security Info=True;User ID=chinhnb;Password=abc@!@#;Max Pool Size=1000;Connect Timeout=72000;Pooling=true;"/>-->
  <!--<add key="MSSQLConnection" value="vjewL3fk892N1Sm10KFcH+EsmdMXwbtxju/fag6+NK/8SgvpxXKtJv89LVy5qbfg4Xg0S/jLNHPFFYk7EE87fcT832Uv2ZSjBP1wJiCCxGxyoSdpbx/SzoG7hGK6JfjCk6ajQsuxiI15fOj4gY3TZV1HFjJGg870Q2eNqaLGSTXHO1bh1fIh+1HgLGEz5oP12IL7BifiNGx0UZBZUGEoT+HbKMFIYQDr7ZmBptqBZwQ="/>-->
    
  <!--Connection string for excel-->
  <add key ="Excel03ConString"  value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
  <add key ="Excel07+ConString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
  <!--======================-->
  <add key="TenantMain" value="dbo"/>
  <add key="TenantInternal" value="internal"/>
  <!--Config for Cache-->
  <add key="UseCache" value="False"/>
  <add key="CacheFormatGenerate" value="-{0}_{1}"/>
  <add key="CacheFormatGenerateOutputParam" value="{0}|Ouput-{1}"/>
  <add key="IgnoreNotify" value="GenerateCommon|"/>
  <!-- Page Size -->
  <add key="pageSize" value="500"/>
  <add key="EnableOptimizations" value="false"/>
  <add key="EncryptKey" value="$Iteal$ECS$"/>
  <add key="totalMontant" value="100000"/>
  <add key="formatCurrency" value="fr-FR"/>
  <add key="verifyCheck" value="true"/>
  <add key="KeyFolder" value="AR16"/>
  <add key="EquipeNumPrefix" value="E"/>
  <!--Upload document folder-->
  <add key="uploadFolder" value="/assets/upload" />
  <add key="billFolder" value="/Upload/BillFolder" />
  <!-- Convocation Folder -->
  <add key="convoSavePath" value="~/Upload/DOC/ClientUpload/" />
  <!-- End Convocation Folder -->

  <add key="FolderTemInvoicePath" value="/Template/Facturation.docx"/>
  <add key="FolderSaveInvoicePath" value="/Upload/Facturation"/>
  <add key="FolderNewFilePathInvoice" value="/Upload/Facturation/NewFile"/>

  <add key="TempPath" value="~/Upload/Template"/>
  <add key="TempInvoicePath" value="~/assets/FileTempate/Invoices"/>
  <add key="SavePath" value="~/assets/Upload/ExcelFile"/>
  <add key="SavePathInvoice" value="~/assets/Upload/ExcelFile/Invoices"/>

  <add key="TemplateInvoice" value="FactureTemplate"/>

  <!--chinhnb-->
  <add key="Website" value="http://103.47.192.100:8888/"/>
  <add key="keymapapi" value="AIzaSyAVWeuS3E0zAoIrBe-Tx7luM_nclruCyzU"/>  
  <add key="TEMPLATE_FILE_NAME" value="/Excel/Temp/template.xlsx"/>
  <add key="GENERATED_FILE_NAME" value="/Excel/Export/"/>

</appSettings>
