<appSettings>
  <!--<add key="MSSQLConnection" value="Data Source=DESKTOP-RIP62I3\SQLEXPRESS;Initial Catalog=PlaceMap;Persist Security Info=True;User ID=sa;Password=123;Max Pool Size=1000;Connect Timeout=72000;Pooling=true;"/>-->
  <!--<add key="MSSQLConnection" value="Data Source=DESKTOP-K3RU0DD;Initial Catalog=PlaceMap;Persist Security Info=True;User ID=sa;Password=123;Max Pool Size=1000;Connect Timeout=72000;Pooling=true;"/>-->  
  <!--<add key="MSSQLConnection" value="fG/yisgwocjmYyPuictfN8Wduzjqbrh9BJh1Ad4rZ5BUwEPt8lYdKAsMeRS+W5i4Fbznms6GTiN2hBDQYTI05bmyprXrCV77rjw9hrCRuA62riPlDpqrwzYq0HutRBen8Nq07Fl1oGFZhyWozHEYGhGl+yDSlCLFIu+zjqFigbnlJcR3zHCiA65l3EqYqO4CjM8fIhpUWPO35UFD97HaPg=="/>-->
  <!--<add key="MSSQLConnection" value="Data Source=103.47.192.100;Initial Catalog=PlaceMap;Persist Security Info=True;User ID=chinhnb;Password=abc@!@#;Max Pool Size=1000;Connect Timeout=72000;Pooling=true;"/>-->
  <add key="MSSQLConnection" value="vjewL3fk892N1Sm10KFcH+EsmdMXwbtxju/fag6+NK/8SgvpxXKtJv89LVy5qbfg4Xg0S/jLNHPFFYk7EE87fcT832Uv2ZSjBP1wJiCCxGxyoSdpbx/SzoG7hGK6JfjCk6ajQsuxiI15fOj4gY3TZV1HFjJGg870Q2eNqaLGSTXHO1bh1fIh+1HgLGEz5oP12IL7BifiNGx0UZBZUGEoT+HbKMFIYQDr7ZmBptqBZwQ="/>
  <!--<add key="MSSQLConnection" value="Data Source=45.32.146.192;Initial Catalog=Syndicanet;Persist Security Info=True;User ID=sa;Password=123123ggfF@;Max Pool Size=1000;Connect Timeout=72000;Pooling=true;"/>-->
  <!--Connection string for excel-->
  <add key ="Excel03ConString"  value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
  <add key ="Excel07+ConString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
  <!--======================-->
  <add key="TenantMain" value="dbo"/>
  <add key="TenantInternal" value="internal"/>
  <!--Config for Cache-->
  <add key="UseCache" value="False"/>
  <add key="CacheFormatGenerate" value="-{0}_{1}"/>
  <add key="CacheFormatGenerateOutputParam" value="{0}|Ouput-{1}"/>
  <add key="IgnoreNotify" value="GenerateCommon|"/>
  <!-- Page Size -->
  <add key="pageSize" value="500"/>
  <add key="EnableOptimizations" value="false"/>
  <add key="EncryptKey" value="$Iteal$ECS$"/>
  <add key="totalMontant" value="100000"/>
  <add key="formatCurrency" value="fr-FR"/>
  <add key="verifyCheck" value="true"/>
  <add key="KeyFolder" value="AR16"/>
  <add key="EquipeNumPrefix" value="E"/>
  <!--Upload document folder-->
  <add key="uploadFolder" value="/assets/upload" />
  <add key="billFolder" value="/Upload/BillFolder" />
  <!-- Convocation Folder -->
  <add key="convoSavePath" value="~/Upload/DOC/ClientUpload/" />
  <!-- End Convocation Folder -->


  <add key="FolderTemInvoicePath" value="/Template/Facturation.docx"/>
  <add key="FolderSaveInvoicePath" value="/Upload/Facturation"/>
  <add key="FolderNewFilePathInvoice" value="/Upload/Facturation/NewFile"/>


  <add key="mailCC" value="vugt1102@gmail.com"/>
  <add key="subjectSendMail" value="Activation Compte ID SDC"/>
  <add key="Host" value="smtp.gmail.com"/>
  <add key="Port" value="587"/>
  <add key="Sender" value="Syndicanet"/>
  <add key="MailAddress" value="emailnhanh91@gmail.com"/>
  <add key="MailUser" value="emailnhanh91@gmail.com"/>
  <add key="MailPassword" value="qq101991"/>
  <add key="OfficialMail" value="quanghuy.hmp@gmail.com"/>
  <add key="InvoiceMail" value="darkghost.it@gmail.com"/>

  <add key="TempPath" value="~/Upload/Template"/>
  <add key="TempInvoicePath" value="~/assets/FileTempate/Invoices"/>
  <add key="SavePath" value="~/assets/Upload/ExcelFile"/>
  <add key="SavePathInvoice" value="~/assets/Upload/ExcelFile/Invoices"/>

  <add key="TemplateInvoice" value="FactureTemplate"/>

  <add key="Website" value="http://92.222.7.149:4891"/>

</appSettings>
