@{
    ViewBag.Title = "Quản lý địa điểm";
}

<div class="row">
    <div class="widget">
        <div class="widget-header ">
            <span class="widget-caption">Quản lý địa điểm</span>
            <div class="widget-buttons">
                <a href="#" data-toggle="maximize">
                    <i class="fa fa-expand"></i>
                </a>
                <a href="#" data-toggle="collapse">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="form-group">
                <a id="btnAddNewLocaltion" class="btn btn-info btn-xs hideform"><i class="fa fa-plus"></i> Thêm địa điểm</a>
                <a id="btnExportLocaltion" class="btn btn-info btn-xs pull-right"><i class="fa fa-file-excel-o"></i> Export Excel</a>
            </div>
            <form role="form" id="insert-localtion" style="display:none;">
                <fieldset class="fieldset">
                    <legend class="legend">Thêm địa điểm</legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    <input type="text" id="txtName" name="txtName" class="form-control" placeholder="Tên địa chỉ" />
                                    <i class="glyphicon glyphicon-map-marker circular"></i>
                                </span>
                            </div>
                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    <input type="text" id="txtLag" name="txtLag" class="form-control" placeholder="Kinh độ" />
                                    <i class="glyphicon glyphicon-tint circular"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="hidden" id="txtAvatar" name="txtAvatar" value="/assets/img/avatars/no-avatar.gif" />
                                <div class="viewimg">
                                    <a id="imgViewAvatar" class="example-image-link" href="/assets/img/avatars/no-avatar.gif" data-lightbox="example-1"><img src="/assets/img/avatars/no-avatar.gif" width="84" /></a>
                                </div>
                                <span class="btn btn-default btn-sm" id="btn_AvatarLocaltion">Đổi ảnh địa điểm</span>
                                <input type="file" class="upload" id="f_AvatarLocaltion" style="display: none;">
                            </div>
                        </div>                        
                    </div>                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    <input type="text" id="txtLng" name="txtLng" class="form-control" placeholder="Vĩ độ" />
                                    <i class="glyphicon glyphicon-tint circular"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    <input type="text" id="txtEmail" name="txtEmail" class="form-control" placeholder="Email" />
                                    <i class="fa fa-envelope-o circular"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    <input type="text" id="txtPhone" name="txtPhone" class="form-control" placeholder="Phone" />
                                    <i class="glyphicon glyphicon-earphone"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select id="sltAccount" name="sltAccount" style="border-radius: 0;width: 100%">
                                    <option value="0">---Chọn tài khoản---</option>
                                    <script id="data-list-account" type="x-tmpl-mustache">
                                        <option value="{{id}}">{{displayName}}</option>
                                    </script>
                                </select>
                            </div>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select id="sltProvince" name="sltProvince" style="border-radius: 0; width: 100%">
                                    <option value="0">---Chọn tỉnh/thành phố---</option>
                                    <script id="data-list-province" type="x-tmpl-mustache">
                                        <option value="{{id}}">{{name}}</option>
                                    </script>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <select id="sltDistrict" name="sltDistrict" style="border-radius: 0; width: 100%">
                                    <option value="0">---Chọn quận/huyện---</option>
                                </select>
                                <script id="data-list-district" type="x-tmpl-mustache">
                                    <option value="{{id}}">{{name}}</option>
                                </script>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    <input type="text" id="txtRepresentActive" name="txtRepresentActive" class="form-control" placeholder="Người đại diện" />
                                    <i class="fa fa-user circular"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    <input type="text" id="txtCode" name="txtCode" class="form-control" placeholder="Mã khách hàng" />
                                    <i class="fa fa-qrcode circular"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <select id="sltCustomeType" name="sltCustomeType" style="border-radius: 0;width: 100%">
                                    <option value="0">--- Loại khách hàng ---</option>
                                    <option value="1">Bán buôn</option>
                                    <option value="2">Bán lẻ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    <input type="text" id="txtMinCheckin" name="txtMinCheckin" class="form-control" placeholder="Số checkin trong tháng" />
                                    <i class="glyphicon glyphicon-map-marker circular"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <span class="input-icon icon-right">
                                    <input type="text" class="form-control" id="txtAddress" name="txtAddress" placeholder="Địa chỉ">
                                    <i class="glyphicon glyphicon-briefcase"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <select id="sltLocaltionStatus" name="sltLocaltionStatus" style="border-radius: 0;width: 100%">                                    
                                    <script id="data-list-localtionstatus" type="x-tmpl-mustache">
                                        <option value="{{id}}">{{name}}</option>
                                    </script>
                                </select>
                            </div>
                        </div>
                        @*<div class="col-sm-1">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="cbxStatus" name="cbxStatus" class="colored-blue"/>
                                        <span class="text">Trạng thái</span>
                                    </label>
                                </div>
                            </div>
                        </div>*@
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="cbxStatusEdit" name="cbxStatusEdit" class="colored-blue" />
                                        <span class="text">Trạng thái tài khoản sửa</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-sm-12">
                            <div class="form-group" style="margin-top: 10px; text-align: center; margin-bottom: 0;">
                                <a id="btnSaveLocaltion" data-id="0" class="btn btn-info btn-sm"><i class="fa fa-save"></i> Lưu</a>
                                <a id="btnCancel" class="btn btn-default btn-sm"><i class="fa fa-recycle"></i> Hủy bỏ</a>
                                <input type="hidden" id="hdLocaltionId" name="hdLocaltionId" value="0"/>
                            </div>
                        </div>                        
                    </div>
                </fieldset>
            </form>

            <fieldset class="fieldset">
                <legend class="legend">Bộ lọc</legend>
                <div class="row">
                    <div class="col-sm-6">
                        <span class="input-icon icon-right">
                            <input type="text" id="keySearch" name="keySearch" class="form-control" placeholder="Tìm kiếm...">
                            <i class="glyphicon glyphicon-search circular"></i>
                        </span>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <select id="sltParentSearch" name="sltParentSearch" style="border-radius: 0; width: 100%">
                                <option value="0">--- Chọn Vùng/Miền ---</option>
                                <option value="1">Miền bắc</option>
                                <option value="2">Miền trung</option>
                                <option value="3">Miền nam</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <select id="sltProvinceSearch" name="sltProvinceSearch" style="border-radius: 0;width: 100%">
                                <option value="0">---Chọn tỉnh/thành phố---</option>
                                <script id="data-list-province" type="x-tmpl-mustache">
                                    <option value="{{id}}">{{name}}</option>
                                </script>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="dataTables_wrapper form-inline no-footer">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr role="row">
                            <th style="width: 6%">
                                Stt
                            </th>
                            <th>
                                Mã KH
                            </th>
                            <th>
                                Ảnh
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Tài khoản
                            </th>
                            <th>
                                Ngày tạo
                            </th>
                            <th style="width: 9%">
                                Trạng thái sửa
                            </th>
                            <th style="width: 9%">
                                Trạng thái
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody id="listAllLocaltion"></tbody>
                    <script id="package-data" type="x-tmpl-mustache">
                        <tr data-id="{{id}}">
                            <td>
                                {{stt}}
                            </td>
                            <td>
                                {{code}}
                            </td>
                            <td>
                                <img src='{{avatar}}' width="32" />
                            </td>
                            <td>
                                {{name}}
                            </td>
                            <td>
                                {{userName}}
                            </td>                            
                            <td>
                                {{createdDate}}
                            </td>
                            <td style="position:relative;">
                                <input class="checkbox-slider slider-icon colored-success status-edit-loc" type="checkbox" {{statusEditLoc}} data-id="{{id}}">
                                <span class="text"></span>
                            </td>
                            <td style="position:relative;">
                                {{statusName}}
                                @*<input class="checkbox-slider slider-icon colored-success status-loc" type="checkbox" {{statusLoc}} data-id="{{id}}">
                                <span class="text"></span>*@
                            </td>
                            <td style="text-align:center;">
                                <a href="/?accountId={{accountId}}&lag={{lag}}&lng={{lng}}" class="btn btn-primary btn-xs"><i class="fa fa-map-marker"></i> Map</a>
                                <a href="javascript:void(0)" class="btn btn-info btn-xs edit" data-id="{{id}}"><i class="fa fa-edit"></i> Sửa</a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-xs delete" data-id="{{id}}"><i class="fa fa-trash-o"></i> Xóa</a>
                            </td>
                        </tr>
                    </script>
                </table>
                <div class="DTTTFooter">
                    <div class="col-sm-6">
                        <select class="form-control input-sm" id="sltPageSize" style="width: 60px; height: 34px; margin-bottom: 5px;">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div class="dataTables_paginate paging_bootstrap hide" id="pager">
                            <ul class="pagination">
                                <li class="prev disabled btnPrevious"><a id="btnPrevious" href="javascript:void(0)">Prev</a></li>
                                <li class="next btnNext"><a href="javascript:void(0)" id="btnNext">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModalLocaltionDetail" class="modal fade" role="dialog" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chi tiết địa chỉ này</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover table-bordered">
                    <tbody id="viewDetailLocaltion"></tbody>
                    <script id="package-data-viewDetailLocaltion" type="x-tmpl-mustache">
                        <tr>
                            <td style="width:25%">Trạng thái: </td>
                            <td>
                                <input readonly class="colored-success" type="checkbox" {{isChecked}}>
                                <span class="text">{{isCheckedName}}</span>
                                <a href="/AccountChecked/?accountId={{accountId}}" class="btn btn-default btn-xs" style="float:right;"><i class="fa fa-map-marker"></i> Lịch sử tài khoản checkin</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Tên: </td>
                            <td>{{name}}</td>
                        </tr>
                        <tr>
                            <td>Địa chỉ: </td>
                            <td>{{address}}</td>
                        </tr>
                        <tr>
                            <td>Ảnh: </td>
                            <td><a class="example-image-link" href="{{avatar}}" data-lightbox="example-1"><img src='{{avatar}}' width="64" /></a></td>
                        </tr>
                        <tr>
                            <td>Kinh, Vĩ độ: </td>
                            <td>{{lag}}, {{lng}}</td>
                        </tr>
                        <tr>
                            <td>Phone: </td>
                            <td>{{phone}}</td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td>{{email}}</td>
                        </tr>
                        <tr>
                            <td>Loại khách hàng: </td>
                            <td>{{customeType}}</td>
                        </tr>
                        <tr>
                            <td>Mã khách hàng: </td>
                            <td>{{code}}</td>
                        </tr>
                        <tr>
                            <td>Người đại diện: </td>
                            <td>{{representActive}}</td>
                        </tr>
                        <tr>
                            <td>Số lần checkin trong tháng: </td>
                            <td>{{minCheckin}}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <a href="/?accountId={{accountId}}&lag={{lag}}&lng={{lng}}" class="btn btn-primary btn-xs"><i class="fa fa-map-marker"></i>View Map</a>
                                <a href="/LocaltionCheckin/?localtionId={{id}}" class="btn btn-default btn-xs" style="float:right;"><i class="fa fa-map-marker"></i> Lịch sử checkin địa điểm</a>
                            </td>
                        </tr>
                    </script>
                </table>
            </div>
        </div>
    </div>
</div>
@section PageScripts {   
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/lightbox2") 
}

